* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:hotpink;
}

#main-box {
    height: 45vh;
    width: 37vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: honeydew;
    border-radius: 7px;
}

#main-box h2 {
    font-family:cursive;
    text-align: center;
    padding: 0.5em;
    color: hotpink;

}

.main-content input {
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    border: 2px solid hotpink;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-left: 22%;
}

.main-content button {
    height: 5vh;
    width: 15vw;
    background-color: hotpink;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-top: 5%;
    font-size: 1em;font-family: cursive;
    margin-left: 29%;
}

.ans-box h3 {
    text-align: center;
    font-family: cursive;
    margin-top: 5%;
    
}